.footer {
  width: 100%;
  height: 8vh;
  margin: 0;
  background: #ff936f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container {
  margin: 0 auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__link, .footer__text {
  font-weight: bold;
  font-size: 2.25vh;
  text-shadow: #000 0.1vh 0.05vh, #000 0.1vh 0.1vh,  #000 0.05vh 0.1vh, #000 -0.1vh 0.1vh, #000 -0.1vh 0.05vh, #000 -0.1vh -0.1vh, #000 0.05vh -0.1vh, #000 0.1vh -0.1vh;
}

.footer__link {
  position: relative;
  color: #fff;
  text-decoration: none;
  outline: none;
  margin-right: 2%;
}

.footer__link:hover {
  cursor: pointer;
}

.footer__link::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: #ff936f 0.5px solid;
}

.footer__link:hover::before {
  width: 100%;
  left: 0;
  border-color: #000;
}
body{overflow:hidden}.chess-board{position:relative;width:70vh;height:70vh;display:flex;flex-wrap:wrap;border:#07575b 1vh solid;border-radius:2px;box-shadow:0px 0px 15px rgba(0,0,0,.8)}.chess-board .cell-numeration{position:absolute;font-size:2.5vh;font-weight:700;color:rgba(0,0,0,.7)}.chess-board #number{left:-4vh;top:3%;height:100%;display:flex;flex-direction:column}.chess-board #number .cell-nnumeration__each{height:12.5%}.chess-board #letter{top:-5.2vh;left:0;width:100%;display:flex;text-align:center}.chess-board #letter .cell-nnumeration__each{width:12.5%}.chess-board .cell{width:12.5%;height:12.5%;display:flex;justify-content:center;align-items:center;position:relative}.chess-board .cell .piece{width:90%;height:90%;z-index:100}.chess-board .white-cell{background:#fff}.chess-board .black-cell{background:#66a5ad}.chess-board .possible-clear-ceil::after{content:"";position:absolute;top:50%;left:50%;transform:translate3d(-50%, -50%, 0);width:25%;height:25%;border-radius:50%;border:#000 3px solid;background:#ff936f;box-shadow:1px 2px 5px rgba(0,0,0,.8)}.chess-board .possible-engaged-ceil::after{content:"";position:absolute;top:0;left:0;width:calc(100% - 12px);height:calc(100% - 12px);border:#ff936f 6px dashed;box-shadow:0 0 1px #000}.chess-board .move-backlight::before,.chess-board .check-backlight::before,.chess-board .select-piece-backlight::before{position:absolute;content:"";top:0;left:0;right:0;bottom:0}.chess-board .move-backlight::before{background:rgba(179,255,212,.65)}.chess-board .check-backlight::before{background:rgba(255,147,111,.65);border:#333 3.5px solid}.chess-board .select-piece-backlight::before{background:rgba(157,234,253,.55);border:0}.rotating{animation:3s ease Rotate;transform:rotate(180deg)}.rotating .possible-clear-ceil::after{transform:translate3d(-50%, -50%, 0) rotate(-180deg)}.rotating img{transform:rotate(-180deg)}.rotating .cell-nnumeration__each{transform:rotate(180deg)}@keyframes Rotate{from{transform:rotate(0);box-shadow:0px 0px 15px rgba(0,0,0,.8)}20%{transform:translateZ(65px) rotate(0);box-shadow:5px 5px 50px #000}80%{transform:translateZ(65px) rotate(180deg)}to{transform:rotate(180deg);box-shadow:0px 0px 15px rgba(0,0,0,.8)}}.rotated{animation:3s ease Rotate-reverse;transform:rotate(0)}.rotated img{transform:rotate(0)}.rotated .cell-nnumeration__each{transform:rotate(0)}@keyframes Rotate-reverse{from{transform:rotate(180deg);box-shadow:0px 0px 15px rgba(0,0,0,.8)}20%{transform:translateZ(65px) rotate(180deg);box-shadow:5px 5px 50px #000}80%{transform:translateZ(65px) rotate(0)}to{transform:rotate(0);box-shadow:0px 0px 15px rgba(0,0,0,.8)}}
.player-statistics__table-each {
  margin: 1vh;
  width: 23vh;
  max-width: 23vh;
  height: 4vh;
  font-size: 2.3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.player-statistics__table-each .player-statistics__table-img {
  width: 4vh;
  height: inherit;
  background-size: cover;
  margin-right: 2vh;
}

.player-statistics__table-each .player-statistics__table-time {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.player-statistics__table {
  margin: 2vh 0;
  width: 26vh;
  max-width: 26vh;
  height: 40vh;
  overflow-y: scroll;
  background: #66a5ad;
  border: #07575b 3px solid;
  border-radius: 5px;
  text-shadow: #000 0.1vh 0.05vh, #000 0.1vh 0.1vh, #000 0.05vh 0.1vh, #000 -0.1vh 0.1vh, #000 -0.1vh 0.05vh, #000 -0.1vh -0.1vh, #000 0.05vh -0.1vh, #000 0.1vh -0.1vh;
}

.player-statistics__table::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}

.player-statistics__table::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #07575bbf;
}
.player-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-active::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  background: url(assets/6143a7cd71ff26c80d37.svg) center no-repeat;
  background-size: cover;
  background-color: #ccc;
  width: 3vh;
  height: 3vh;
  border-radius: 3vh;
  border: #ff936f 3px solid;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.75);
  opacity: 1;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  z-index: 100;
  text-align: center;
  font-size: 15vh;
  font-weight: 700;
  color: #e5e5e5;
  text-shadow: 2px 2px 10px #66a5ad, -2px 2px 10px #ff936f, #000 0.3vh 0.15vh, #000 0.3vh 0.3vh, #000 0.15vh 0.3vh, #000 -0.3vh 0.3vh, #000 -0.3vh 0.15vh, #000 -0.3vh -0.3vh, #000 0.15vh -0.3vh, #000 0.3vh -0.3vh;
}

.popup_close {
  visibility: hidden;
  opacity: 0;
}

.popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__text {
  margin: 0;
}

.popup__lobby-btn, .popup__replays-btn {
  cursor: pointer;
  text-decoration: none;
  color: #66a5ad;
  text-shadow: #000 0.16vh 0.08vh, #000 0.16vh 0.16vh, #000 0.08vh 0.16vh, #000 -0.16vh 0.16vh, #000 -0.16vh 0.08vh, #000 -0.16vh -0.16vh, #000 0.08vh -0.16vh, #000 0.16vh -0.16vh;
}

.popup__lobby-btn::before, .popup__replays-btn::before {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 50%;
  width: 0;
  height: 3px;
  background: #66a5ad;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.popup__lobby-btn:hover::before, .popup__replays-btn:hover::before {
  width: 100%;
  left: 0;
  border: #000 1px solid;
}

.popup__lobby-btn {
  font-size: 4vh;
  position: absolute;
  bottom: -9vh;
  left: -2vh;
}

.popup__replays-btn {
  font-size: 4vh;
  position: absolute;
  bottom: -9vh;
  right: -1vh;
}
.game {
  height: 84vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.5%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.header {
  width: 100%;
  background: #66a5ad;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6);
}

.header__container {
  margin: 0 auto;
  width: 95%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  position: relative;
  width: 15%;
}

.header-logo__img {
  width: 25%;
  height: auto;
}

.header-logo__text {
  position: absolute;
  left: 13%;
  bottom: 1vh;
  font-style: normal;
  font-weight: bold;
  font-size: 4vh;
  line-height: 4vh;
  text-shadow: #000 0.12vh 0.07vh, #000 0.12vh 0.12vh,  #fff 0.07vh 0.12vh, #000 -0.12vh 0.12vh, #000 -0.12vh 0.07vh, #000 -0.12vh -0.12vh, #000 0.07vh -0.12vh, #000 0.12vh -0.12vh;
}

.header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-btns__each {
  width: 2vh;
  height: 4vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.lobby {
  height: 84vh;
  width: 100%;
}

.lobby a {
  text-decoration: none;
  color: #fff;
}

.lobby__container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lobby .player-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.lobby .player-menu .menu-replay {
  width: 14vh;
  height: 14vh;
  border-radius: 14vh;
  border-width: 3px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.lobby .player-menu .menu-replay__text {
  font-size: 2.5vh;
  line-height: 3vh;
  letter-spacing: 1.5px;
  -webkit-transition: inherit;
  transition: inherit;
  text-shadow: #000 0.1vh 0.05vh, #000 0.1vh 0.1vh,  #fff 0.05vh 0.1vh, #000 -0.1vh 0.1vh, #000 -0.1vh 0.05vh, #000 -0.1vh -0.1vh, #000 0.05vh -0.1vh, #000 0.1vh -0.1vh;
}

.lobby .player-menu .menu-replay__img {
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0);
          transform: translate3d(-50%, -50%, 0) scale(0);
  -webkit-transition: inherit;
  transition: inherit;
}

.lobby .player-menu .menu-replay:hover .menu-replay__text {
  -webkit-transform: scale(0) rotate(720deg);
          transform: scale(0) rotate(720deg);
}

.lobby .player-menu .menu-replay:hover .menu-replay__img {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1) rotate(720deg);
          transform: translate3d(-50%, -50%, 0) scale(1) rotate(720deg);
}

.lobby .player-menu .menu-setting {
  width: 8vh;
  height: 8vh;
  border-radius: 8vh;
  font-size: 2vh;
  letter-spacing: 1.5px;
  border-width: 2px;
}

.lobby .player-menu .menu-setting__inner {
  height: 7vh;
  width: 7vh;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.lobby .player-menu .menu-setting__inner:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.lobby .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #66a5ad;
  border: #ff936f solid;
  text-align: center;
  cursor: pointer;
}

.lobby .menu-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45vh;
  height: 45vh;
  border-radius: 45vh;
  position: relative;
  border-width: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.lobby .menu-start__text {
  position: absolute;
  width: 45vh;
  height: 45vh;
  border-radius: 45vh;
  line-height: 45vh;
  font-style: normal;
  font-size: 15vh;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  letter-spacing: 1vh;
  text-shadow: #000 0.36vh 0.21vh, #000 0.36vh 0.36vh,  #000 0.21vh 0.36vh, #000 -0.36vh 0.36vh, #000 -0.36vh 0.21vh, #000 -0.36vh -0.36vh, #000 0.21vh -0.36vh, #000 0.36vh -0.36vh;
}

.lobby .game-mode {
  position: absolute;
  width: 10vh;
  height: 10vh;
  border-radius: 10vh;
  top: -5vh;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.lobby .game-mode__text {
  font-size: 3vh;
  letter-spacing: 1px;
  text-shadow: #000 0.12vh 0.07vh, #000 0.12vh 0.12vh,  #000 0.07vh 0.12vh, #000 -0.12vh 0.12vh, #000 -0.12vh 0.07vh, #000 -0.12vh -0.12vh, #000 0.07vh -0.12vh, #000 0.12vh -0.12vh;
}

.lobby [data-mode='start-offline'] {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.lobby [data-mode='start-offline'] .game-mode {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.lobby [data-mode='start-offline'] .menu-start__text {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.lobby [data-mode='online'] {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #66a5ad;
}

.lobby [data-mode='online'] #online {
  display: block;
}

.lobby [data-mode='online'] #offline {
  display: none;
}

.lobby [data-mode='offline'] {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #8c3650;
}

.lobby [data-mode='offline'] #online {
  display: none;
}

.lobby [data-mode='offline'] #offline {
  display: block;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__avatar, .player__game-avatar {
  width: 16vh;
  height: 16vh;
  border-radius: 16vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: #ff936f 3px solid;
  color: #66a5ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12vh;
  font-weight: 700;
  text-shadow: #000 0.24vh 0.14vh, #000 0.24vh 0.24vh,  #000 0.14vh 0.24vh, #000 -0.24vh 0.24vh, #000 -0.24vh 0.14vh, #000 -0.24vh -0.24vh, #000 0.14vh -0.24vh, #000 0.24vh -0.24vh, #000 2px 2px 10px;
}

.player__game-avatar {
  position: relative;
}

.player__avatar {
  cursor: pointer;
  text-indent: -1000em;
}

.player__name {
  margin-top: 2vh;
  width: 24vh;
  height: 3vh;
  font-size: 2.3vh;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
  color: #fff;
  background: #66a5ad;
  border: #07575B 3px solid;
  border-radius: 5px;
  text-shadow: #000 0.1vh 0.05vh, #000 0.1vh 0.1vh,  #000 0.05vh 0.1vh, #000 -0.1vh 0.1vh, #000 -0.1vh 0.05vh, #000 -0.1vh -0.1vh, #000 0.05vh -0.1vh, #000 0.1vh -0.1vh;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}
.replays__each {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  width: 95%;
  height: 8vh;
  margin: 0 auto;
  margin-bottom: 2vh;
  text-shadow: #000 0.1vh 0.05vh, #000 0.1vh 0.1vh, #000 0.05vh 0.1vh, #000 -0.1vh 0.1vh, #000 -0.1vh 0.05vh, #000 -0.1vh -0.1vh, #000 0.05vh -0.1vh, #000 0.1vh -0.1vh;
  border-radius: 20px;
  border-bottom: #333 3px solid;
}

.replays__each-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.replays__each .replays__piece-prototype {
  width: 6vh;
  height: 6vh;
  border-radius: 6vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.5vh;
}

.replays__each .replays__player-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.replays__each .replays__avatar {
  width: 6vh;
  height: 6vh;
  min-width: 6vh;
  border-radius: 6vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border: #ff936f 3px solid;
  color: #66a5ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5.5vh;
  margin-right: 5%;
}

.replays__each .replays__name {
  font-size: 3vh;
  white-space: nowrap;
}

.replays__each .replays__time {
  font-size: 5vh;
  position: absolute;
  right: 0;
}

.replays__each .replays__crown {
  width: 4vh;
  height: 3vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 11vh;
  top: -0.5vh;
}

.replays__each .replays__cross {
  width: 4vh;
  height: 4vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 1.5vh;
}
.replays {
  height: 84vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.replays__container {
  height: 90%;
  width: 50%;
  background-color: #66a5ad;
  border: #07575B 5px solid;
  border-radius: 2vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-shadow: 2px 2px 20px #000;
          box-shadow: 2px 2px 20px #000;
}

.replays__container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2vh;
}

.replays__container::-webkit-scrollbar-thumb {
  border-radius: 2vh;
  background-color: #07575bbf;
}
