body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.nav {
  width: 100%;
  background: #66a5ad;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6);
}

.nav__container {
  margin: 0 auto;
  width: 95%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-logo {
  position: relative;
  width: 15%;
}

.nav-logo__img {
  width: 25%;
  height: auto;
}

.nav-logo__text {
  position: absolute;
  left: 13%;
  bottom: 1vh;
  font-style: normal;
  font-weight: bold;
  font-size: 4vh;
  line-height: 4vh;
  text-shadow: #000 0.12vh 0.07vh, #000 0.12vh 0.12vh,  #fff 0.07vh 0.12vh, #000 -0.12vh 0.12vh, #000 -0.12vh 0.07vh, #000 -0.12vh -0.12vh, #000 0.07vh -0.12vh, #000 0.12vh -0.12vh;
}

.footer {
  width: 100%;
  height: 8vh;
  margin: 0;
  background: #ff936f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container {
  margin: 0 auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__link, .footer__text {
  font-weight: bold;
  font-size: 2.25vh;
}

.footer__link {
  position: relative;
  color: #fff;
  text-decoration: none;
  outline: none;
  margin-right: 2%;
}

.footer__link:hover {
  cursor: pointer;
}

.footer__link::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 1px;
  background: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.footer__link:hover::before {
  width: 100%;
  left: 0;
}

.game {
  height: 84vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chess-board {
  position: relative;
  width: 70vh;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: #07575B 1vh solid;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.chess-board .cell-numeration {
  position: absolute;
  font-size: 2.5vh;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}

.chess-board #number {
  left: -4vh;
  top: 3%;
  height: 100%;
}

.chess-board #number .cell-nnumeration__each {
  height: 12.5%;
}

.chess-board #letter {
  top: -5.2vh;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.chess-board #letter .cell-nnumeration__each {
  width: 12.5%;
}

.chess-board .cell {
  width: 12.5%;
  height: 12.5%;
}

.chess-board .white-cell {
  background: #fff;
}

.chess-board .black-cell {
  background: #66a5ad;
}

.lobby {
  height: 84vh;
  width: 100%;
}

.lobby__container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lobby .player-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.lobby .player-menu .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lobby .player-menu .player__avatar {
  width: 16vh;
  height: 16vh;
  border-radius: 16vh;
  background: url(./public/avatar/Unknown.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -1000em;
  cursor: pointer;
  border: #ff936f 3px solid;
}

.lobby .player-menu .player__name {
  margin-top: 2vh;
  width: 24vh;
  height: 3vh;
  font-size: 2.3vh;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
  color: #fff;
  background: #66a5ad;
  border: #07575B 3px solid;
  border-radius: 5px;
}

.lobby .player-menu .menu-replay {
  width: 14vh;
  height: 14vh;
  border-radius: 14vh;
  font-size: 2.5vh;
  line-height: 3vh;
  letter-spacing: 1.5px;
  border-width: 3px;
}

.lobby .player-menu .menu-setting {
  width: 8vh;
  height: 8vh;
  border-radius: 8vh;
  font-size: 2vh;
  letter-spacing: 1.5px;
  border-width: 2px;
}

.lobby .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #66a5ad;
  border: #ff936f solid;
  text-align: center;
  cursor: pointer;
}

.lobby .menu-start {
  width: 45vh;
  height: 45vh;
  border-radius: 45vh;
  position: relative;
  border-width: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: Game-mode 5s linear;
          animation: Game-mode 5s linear;
}

@-webkit-keyframes Game-mode {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

@keyframes Game-mode {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

@-webkit-keyframes Text-animation {
  from {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
}

@keyframes Text-animation {
  from {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
}

.lobby .menu-start__text {
  position: absolute;
  font-style: normal;
  font-size: 15vh;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: Text-animation 5s linear;
          animation: Text-animation 5s linear;
}

.lobby .game-mode {
  position: absolute;
  width: 10vh;
  height: 10vh;
  border-radius: 10vh;
  top: -5vh;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: Text-animation 5s linear;
          animation: Text-animation 5s linear;
}

.lobby .game-mode__text {
  font-size: 3vh;
}

.lobby .game-mode_online {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #66a5ad;
}

.lobby .game-mode_online #online {
  display: block;
}

.lobby .game-mode_online #offline {
  display: none;
}

.lobby .game-mode_offline {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #8c3650;
}

.lobby .game-mode_offline #online {
  display: none;
}

.lobby .game-mode_offline #offline {
  display: block;
}
/*# sourceMappingURL=style.css.map */