html {
  --main-bg-color: #fff;
  --main-text-color: #333;
  --p-text-color: #4f4f4f;
  --mini-main-bg-color: #f2f2f2;
  --base-color: #fefefe;
  --testimonials-color: #fefefe;
  --pay-color: #4f4f4f;
  --map-color: #fefefe;
}

html[data-theme="dark"] {
  --main-bg-color: #333;
  --main-text-color: #fefefe;
  --p-text-color: #f2f2f2;
  --mini-main-bg-color: #4f4f4f;
  --base-color: #333;
  --testimonials-color: #3c3c3c;
  --pay-color: #fefefe;
  --map-color: #4f4f4f;
}

body {
  margin: 0;
  width: 100%;
  background: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Containers */
.container-info {
  width: 95%;
  margin: 0 auto;
  max-width: 1620px;
}

.container-main {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

/* Main */
.main {
  width: 100%;
  height: 940px;
  background: url("assets/background.jpg")
  center no-repeat;
  background-size: cover;
  position: relative;
}

.main-content {
  position: absolute;
  top: 206px;
}

.main-content__text {
  width: 793px;
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;
  color: #fefefe;
}

.watch-online {
  position: relative;
  margin: 37px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 167px;
  padding: 12px 39px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  transition: transform 0.1s linear;
  transform-style: preserve-3d;
}

.watch-online:active,
.zoos-pets__btn:active,
.pay__btn:active {
  transform: scale(0.99);
}

.social-neworks {
  position: absolute;
  top: 76.8%;
  width: 20px;
  height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

.social-neworks__icon {
  transition: transform 0.1s linear;
}

.social-neworks__icon:hover {
  transform: scale(1.25);
}

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery-position {
  position: absolute;
  width: 56.2%;
  top: 43.19%;
  right: 0;
}

.gallery__img {
  overflow: hidden;
  background: url("assets/line.svg") no-repeat;
  background-position: left 0 top 50%;
}

.gallery__img-inner {
  transform: translate3d(112px, 0, 0);
  width: 2000px;
  height: 375px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.img-inner__elem {
  position: relative;
  display: block;
  margin: 0 23px;
}

.gallery-pets-info {
  position: absolute;
  top: 232px;
  left: 23px;
  width: 194px;
  display: none;
}

.gallery-animals {
  width: 140px;
  height: 203px;
  transition: all 0.4s ease-in-out;
}

.gallery-activ-img {
  filter: brightness(80%);
  width: 245px;
  height: 352px;
}

.main-animals {
  display: block;
  border-radius: 5px;
  object-fit: cover;
}

.main-animals:hover {
  cursor: pointer;
}

.all-animals {
  width: 279px;
  height: 399px;
  transition: filter 1s linear;
}

.all-pets__elem:hover .all-animals {
  filter: brightness(40%);
}

.img-inner__elem:hover .gallery-animals {
  filter: brightness(80%);
  width: 245px;
  height: 352px;
}

.all-pets__elem:hover .pets-info,
.img-inner__elem:hover .gallery-pets-info {
  animation-duration: 1s;
  animation-name: slidein;
  display: block;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    height: 300%;
  }
  to {
    margin-top: 0%;
    height: 46%;
  }
}

.range-slider {
  margin-left: 321px;
  width: 90%;
  max-width: 245px;
  height: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.slider__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #fefefe;
}

.slider__text-value {
  font-size: 14px;
  line-height: 16px;
  color: #bdbdbd;
}

.gallery__slider {
  width: 100%;
  -webkit-appearance: none;
}

.gallery__slider:focus {
  outline: none; 
}

.gallery__slider::-webkit-slider-thumb {
  width: 30px;
  height: 10px;
  background: #fefefe;
  margin-top: -3.5px;
  -webkit-appearance: none;
  cursor: pointer;
}

.gallery__slider::-webkit-slider-runnable-track {
  height: 5px;
  border: 0;
  border-radius: 0;
  background: #bdbdbd;
}

/* How it works*/
.how-works__container {
  max-width: 790px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: var(--main-text-color);
  text-align: center;
}

.how-works__title {
  text-align: left;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--p-text-color);
  text-align: left;
}

.how-works__text {
  margin: 30px 0;
}

.how-works__img {
  border-radius: 5px;
  object-fit: cover;
  object-position: -2px 0;
}

.how-works__range-slider {
  margin: 30px auto;
}

.how-works__slider-text {
  color: var(--main-text-color);
}

.how-works__slider::-webkit-slider-thumb {
  width: 62px;
  background: var(--main-text-color);
}

.how-works__btn {
  margin: 0 auto;
}

/* How it works add*/
.section {
  padding: 100px 0;
  width: 100%;
}

.how-works__add {
  background: var(--mini-main-bg-color);
}

.how-works__add-inner {
  display: flex;
  justify-content: space-between;
  
}

.add-inner__elem {
  width: 380px;
  height: 198px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-title {
  margin: 15px auto;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: var(--main-text-color);
}

.how-works__add-text {
  margin: 0;
}

/* Zoos pets */
.zoos-pets__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zoos-pets__slider-inner {
  max-width: 1300px;
  width: 95%;
  display: flex;
  align-items: center;
}

.vectors-left {
  background: url(assets/Vectors/vector-left.svg);
}

.vectors-left[data-theme="dark"] {
  background: url(assets/Vectors/dark-vector-left.svg);
}

.vectors-right {
  background: url(assets/Vectors/vector-right.svg);
}

.vectors-right[data-theme="dark"] {
  background: url(assets/Vectors/dark-vector-right.svg);
}

.vectors {
  min-width: 18px;
  height: 30px;
  background-position: center;
  transition: transform 0.1s linear;
}

.vectors:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.zoos-pets__main {
  margin: 35px 20px 30px;
  width: 1206px;
  position: relative;
  overflow: hidden;
}

.zoos-pets__all-pets {
  width: 2000px;
  display: flex;
  list-style-type: none;
  transform: translate3d(-15px, 0, 0);
}

.all-pets__elem {
  position: relative;
  height: 399px;
  margin: 0 15px;
}

.all-pets-active {
  filter: brightness(40%);
}

.pets-info {
  position: absolute;
  display: none;
  top: 269px;
  left: 22px;
  width: 194px;
}

.all-pets-info-active {
  display: block;
}

.pets-info__text {
  color: #fff;
  margin: 0 0 7px;
}

.pets-info__btns {
  display: flex;
  justify-content: space-between;
}

.btns__watch-online,
.btns__donate {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.watch-online__play-btn {
  padding: 7px 8px;
  border: 1px solid #4bd8b5;
  border-radius: 16px;
  margin-right: 2px;
}

.btns__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.btns__text-watch {
  color: #4bd8b5;
}

.donate__play-btn {
  padding: 2px 6px 3px;
  border: 1px solid #fff;
  border-radius: 18px;
  margin-right: 3px;
}

.btns__text-donate {
  color: #fff;
}

.zoos-pets__range-slider {
  margin: 0;
}

.zoos-pets__slider-text,
.map-page__slider-text {
  color: var(--main-text-color);
}

.zoos-pets__true-slider::-webkit-slider-thumb,
.map-page__true-slider::-webkit-slider-thumb {
  background: var(--main-text-color);
}

.zoos-pets__btn {
  position: relative;
  margin-top: 30px;
  padding: 18px 17px 16px 18px;
  width: 210px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  transition: transform 0.1s linear;
  transform-style: preserve-3d;
}

/* Pay block */
.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--mini-main-bg-color);
}

.pay__text {
  margin: 30px 51px 92px;
  text-align: center;
}

.pay__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pay-main__inner {
  position: relative;
}

.pay__title {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 141px;
  right: 50%;
  transform: translateX(50%);
  white-space: nowrap;
  color: var(--pay-color);
}

.pay-arrow {
  width: 108px;
  height: 20px;
  background: url(assets/Vectors/long-arrow.svg) center no-repeat;
}

.pay__btn {
  position: relative;
  margin-top: 60px;
  padding: 18px 87px 16px 88px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  transition: transform 0.1s linear;
  transform-style: preserve-3d;
  cursor: pointer;
}

/* Testimonials */
.testimonials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials {
  margin: 50px auto 40px;
  display: flex;
  align-items: center;
  width: 95%;
  max-width: 1288px;
}

.testimonials__main {
  margin: 0 10px;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
}

.testimonials__main-inner {
  width: 6000px;
  display: flex;
  list-style-type: none;
  margin: 10px 0;
  transform: translate3d(-17px, 0, 0);
}

.testimonials__all-inner {
  margin: 0 17px;
  padding: 47px 72px 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
  background: var(--testimonials-color);
}

.testimonials__avatar {
  width: 68px;
  border: 1px solid #bdbdbd;
  border-radius: 60px;
}

.testimonials__name {
  margin: 17px auto;
}

.testimonials__text {
  margin: 0;
  width: 440px;
  text-align: left;
}

/* Map */
.map {
  background: var(--mini-main-bg-color);
  overflow: hidden;
}

.map__main {
  margin: 60px auto 35px;
  width: 100%;
  height: 498px;
  background: url(assets/map.svg) center no-repeat;
  background-size: contain;
  position: relative;
}

.map__main[data-theme="dark"] {
  background: url(assets/dark-map.svg) center no-repeat;
}

.map__btn {
  margin: 0 auto;
}

.map__each-animal {
  position: relative;
  pointer-events: none;
}

.each-animal__inner {
  pointer-events: visible;
  width: 67px;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
  transition: transform 0.1s linear;
}

.map__each-animal:hover {
  z-index: 1;
}

.map__each-animal:hover .each-animal__promt {
  display: flex;
}

.map__each-animal:hover .main__placeholder-red {
  transform: scale(1.25);
  opacity: 1;
}

.map__each-animal:hover .main__placeholder {
  transform: scale(1.25);
  opacity: 0;
}

.map__each-animal:hover .main__placeholder-inner {
  transform: scale(1.25);
  right: 17%;
}

.main__placeholder {
  transition: opacity 0.1s linear;
}

.main__placeholder-red {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.main__placeholder-inner {
  position: absolute;
  top: 13.85px;
  right: 50%;
  transform: translateX(50%);
  border-radius: 43px;
  object-fit: cover;
}

.eagles {
  top: 14.5%;
  left: 10%;
}

.alligator {
  top: 1%;
  left: 20.4%;
}

.dusan {
  top: -1%;
  left: 47.6%;
}

.panda {
  top: -41%;
  left: 74.4%;
}

.each-animal__promt {
  position: absolute;
  width: 60%;
  max-width: 348px;
  padding: 40px 44px 39px;
  display: none;
  background: var(--base-color);
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  pointer-events: visible;
}

.prompt__img {
  border-radius: 65px;
  object-fit: cover;
  min-width: 65px;
}

.prompt__text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.prompt__text-title {
  margin-bottom: 7px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: var(--main-text-color);
}

.prompt__text-inner {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-text-color);
}

.prompt__text-main {
  margin: 0 0 5px;
}

/* Buttons */
.watch-online::before,
.watch-online::after,
.zoos-pets__btn::before,
.zoos-pets__btn::after,
.pay__btn::before,
.pay__btn::after,
.feed-btn::before,
.feed-btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  transform: translateZ(-1px);
  transition: opacity 0.5s ease-in-out;
}

.feed-btn::before,
.zoos-pets__btn::before,
.pay__btn::before,
.watch-online::before {
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  opacity: 1;
}

.feed-btn::after,
.zoos-pets__btn::after,
.pay__btn::after,
.watch-online::after {
  background: linear-gradient(116deg, #07EEE0 -14.32%, #DF496D 130.68%);
  opacity: 0;
}

.feed-btn:hover::before,
.zoos-pets__btn:hover::before,
.pay__btn:hover::before,
.watch-online:hover::before {
  opacity: 0;
}

.feed-btn:hover::after,
.zoos-pets__btn:hover::after,
.pay__btn:hover::after,
.watch-online:hover::after {
  opacity: 1;
}

@media (max-width: 1200px) {
  /* Container */
  .container-main {
    max-width: 900px;
  }

  .main {
    height: 926px;
  }

  /* Gallery */
  .social-neworks {
    top: 81%;
  }

  .main-content {
    top: 127px;
  }

  .gallery-position {
    width: 720px;
  }

  .gallery {
    top: 46.75%;
    right: 0;
    width: auto;
  }

  .gallery__img-inner {
    transform: translate3d(120px, -13px, 0);
  }

  .img-inner__elem {
    margin: 0 15px;
  }

  .gallery-animals {
    width: 180px;
    height: 261px;
  }

  .gallery-activ-img {
    width: 245px;
    height: 352px;
  }

  .intro-slider {
    margin-left: 350px;
  }

  /* How works */
  .how-works__container {
    width: 95%;
    max-width: 746px;
  }

  .how-works__text {
    margin-bottom: 14px;
  }
  
  .how-works__img {
    width: 100%;
    max-width: 746px;
    height: 323px;
  }

  .how-works__range-slider {
    margin: 26px auto 31px;
  }

  .add-inner__elem {
    width: 286px;
  }

  /* Zoos */
  .zoos-pets__main {
    width: 900px;
  }

  .all-animals {
    width: 210px;
    height: 301px;
  }

  .zoos-pets__all-pets {
    transform: translate3d(-10px, 0, 0);
  }

  .all-pets__elem {
    height: 301px;
    margin: 0 10px;
  }

  .pets-info {
    left: 6px;
    top: 183px;
  }

  /* Pay */
  .pay-arrow {
    width: 48px;
    height: 48px;
    background: url(assets/Vectors/short-arrow.svg) center no-repeat;
  }

  .pay__text {
    margin-bottom: 49px;
  }

  .pay__btn {
    margin-top: 47px;
  }

  /* Zoos */
  .zoos-pets__slider-inner {
    max-width: 1000px;
  }

  /* Testimonials */
  .testimonials {
    margin: 52px auto 35px;
    max-width: 988px;
  }
  .testimonials__main {
    max-width: 920px;
  }

  .testimonials__main-inner {
    width: 110%;
    transform: translate3d(-10px, 0, 0);
  }

  .testimonials__all-inner {
    box-sizing: border-box;
    max-width: 440px;
    margin: 0 10px;
    padding: 48px 57px 89px;
    width: 100%;
  }

  .testimonials__text {
    width: 100%;
    max-width: 326px;
  }

  /* Map */
  .map__main {
    height: 436px;
    background: url(assets/map-1200.svg) center no-repeat;
    background-size: 100%;
  }

  .map__main[data-theme="dark"] {
    background: url(assets/dark-map-1200.svg) center no-repeat;
    background-size: 100%;
  }

  .eagles {
    top: 12.5%;
    left: 9.4%;
  }

  .alligator {
    top: -6.8%;
    left: 19.4%;
  }

  .dusan {
    top: -10%;
    left: 46.7%;
  }

  .panda {
    top: -52%;
    left: 72.9%;
  }

  .each-animal__promt {
    left: -60px;
  }

  #panda-promt {
    left: -277px;
  }
}

@media (max-width: 880px) {
  /* Gallery */
  .main-content__text {
    width: auto;
    max-width: 625px;
    font-size: 69px;
    line-height: 80px;
  }

  /* Pay */
  .pay__main {
    flex-direction: column;
    height: 935px;
  }

  .pay-arrow {
    background: url(assets/Vectors/vertical-arrow.svg) center no-repeat;
  }

  .pay__text {
    margin-top: 17px;
  }

  /* Map */
  .eagles {
    top: 12.5%;
    left: 8.4%;
  }

  .alligator {
    top: -3.8%;
    left: 19.3%;
  }

  .dusan {
    top: -10%;
    left: 46.5%;
  }

  .panda {
    top: -54%;
    left: 71.9%;
  }
}

@media (max-width: 640px) {
  /* Container */
  .container-main {
    max-width: 600px;
  }

  /* Gallary */
  .main {
    height: 934px;
  }

  .social-neworks {
    top: 78%;
  }

  .main-content {
    top: 122px;
  }

  .gallery-position {
    width: 588px;
    top: 43.8%;
  }

  .gallery__img-inner {
    transform: translate3d(56px, -13px, 0);
  }

  .intro-slider {
    margin-left: 287px;
  }

  .main-content__text {
    width: auto;
    font-size: 64px;
    line-height: 75px;
  }

  /* How works */
  .how-works__container {
    max-width: 600px;
    margin-bottom: 68px;
  }

  .how-works__text {
    margin-bottom: 30px;
  }
  
  .how-works__img {
    width: 100%;
    max-width: 600px;
    max-height: 323px;
  }

  .how-works__add-inner {
    flex-direction: column;
    align-items: center;
    height: 675px;
  }

  /* Zoos */
  .zoos-pets__main {
    width: 600px;
    margin-bottom: 35px;
  }

  .vectors {
    display: none;
  }

  .zoos-pets__btn {
    margin-top: 38px;
  }

  /* Testimonials */
  .testimonials {
    width: 100%;
    margin: 37px 0;
  }

  .testimonials__main-inner {
    width: 205%;
    transform: translate3d(-4px, 0, 0);
  }

  .testimonials__all-inner {
    padding: 47px 72px 106px;
    max-width: 585px;
  }

  .testimonials__text {
    max-width: 440px;
  }

  /* Map */
  .map {
    padding-bottom: 79px;
  }

  .map__main {
    height: 290px;
    margin-top: 50px;
  }

  .map__main[data-theme="dark"] {
    height: 290px;
  }

  .eagles {
    top: 2.4%;
    left: 8.8%;
  }

  .alligator {
    top: -28.1%;
    left: 17.2%;
  }

  .dusan {
    top: -43.6%;
    left: 44.5%;
  }

  .panda {
    top: -97%;
    left: 71.1%;
  }

  #eagles-promt {
    left: 10px
  }

  #alligator-promt {
    left: -10px;
  }

  #gorilla-promt {
    left: -180px;
  }
}

@media (max-width: 580px) {
  /* Gallery */
  .main-content {
    top: 100px;
  }

  .main-content__text {
    width: auto;
    max-width: 625px;
    font-size: 52px;
    line-height: 70px;
  }

  .gallery-position {
    top: 40%;
  }

  /* Map */
  .eagles {
    top: 2.4%;
    left: 6.6%;
  }

  .alligator {
    top: -26.1%;
    left: 17%;
  }

  .dusan {
    top: -43.8%;
    left: 44.3%;
  }

  .panda {
    top: -99%;
    left: 70.1%;
  }
}

@media (max-width: 476px) {
  /* Gallery */
  .main-content {
    top: 70px;
  }

  .main-content__text {
    width: auto;
    max-width: 625px;
    font-size: 54px;
    line-height: 60px;
  }

  /* Map */
  .eagles {
    top: 5.4%;
    left: 5.2%;
  }

  .alligator {
    top: -24.1%;
    left: 16%;
  }

  .dusan {
    top: -44.8%;
    left: 43%;
  }

  .panda {
    top: -96%;
    left: 68.1%;
  }
}

@media (max-width: 380px) {
  /* Gallery */
  .main-content {
    top: 45px;
  }

  .main-content__text {
    width: auto;
    max-width: 625px;
    font-size: 45px;
    line-height: 60px;
  }

  .gallery-position {
    width: 550px;
  }

  /* Map */
  .eagles {
    top: 7.1%;
    left: 3.2%;
  }

  .alligator {
    top: -23.1%;
    left: 14%;
  }

  .dusan {
    top: -46%;
    left: 41%;
  }

  .panda {
    top: -94%;
    left: 66.1%;
  }
}

@media (max-width: 320px) {
  .container-main {
    max-width: 300px;
  }
  /* Main */
  .main {
    height: 669px;
  }

  .main-content {
    top: 92px;
  }

  .watch-online {
    margin-top: 15px;
  }

  .social-neworks {
    display: none;
  }

  .main-content__text {
    font-size: 48px;
    line-height: 56px;
  }

  .gallery-position {
    width: 317px;
    top: 54.8%;
  }

  .gallery-animals {
    width: 113px;
    height: 164px;
  }

  .gallery-activ-img {
    width: 140px;
    height: 202px;
  }

  .gallery__img-inner {
    transform: translate3d(15px, 0, 0);
    height: 202px;
  }

  .img-inner__elem {
    margin: 0 5px;
  }
  
  .img-inner__elem:hover .gallery-animals {
    filter: brightness(80%);
    width: 140px;
    height: 202px;
  }

  .gallery-pets-info {
    width: 122px;
    top: 75px;
    left: 8px;
  }

  .pets-info__text {
    font-size: 12px;
    line-height: 14px;
  }

  .pets-info__text br {
    display: none;
  }

  .pets-info__btns {
    flex-direction: column;
    height: 54px;
  }

  .intro-slider {
    margin-left: 144px;
    margin-top: 12px;
    width: 140px;
    height: 37px;
  }

  .gallery__slider {
    width: 140px;
  }

  .gallery__slider::-webkit-slider-thumb {
    width: 17px;
    height: 10px;
  }

  .btns__watch-online,
  .btns__donate {
    height: 24px;
  }

  /* How works */
  .how-works__container {
    max-width: 300px;
    margin-bottom: 50px;
  }

  .title {
    font-size: 36px;
    line-height: 42px;
  }

  .how-works__text {
    margin: 19px 0 32px;
  }

  .how-works__range-slider {
    margin: 16px auto 20px;
  }

  .how-works__slider {
    width: 245px;
  }

  .how-works__slider::-webkit-slider-thumb {
    width: 80px;
  }

  /* Add */
  .how-works__add {
    padding: 50px 0 20px;
  }

  .how-works__add-inner {
    height: auto;
    min-height: 618px;
  }

  .add-inner__elem {
    padding-bottom: 30px;
    height: auto;
  }

  .add-inner__elem {
    width: 100%;
  }

  /* Zoos */
  .zoos-pets__true-slider {
    width: 100%;
  }

  .zoos-pets__true-slider::-webkit-slider-thumb  {
    width: 30px;
  }

  .zoos-pets__main {
    margin: 30px 10px;
  }

  .zoos-pets__btn {
    margin-top: 29px;
  }

  .zoos-pets__all-pets {
    transform: translate3d(-8px, 0, 0);
  }

  .all-pets__elem {
    margin: 0px 8px;
  }

  .pets-info__text {
    margin-bottom: 13px;
  }

  .pets-unique {
    font-size: 14px;
    line-height: 16px;
  }

  .pets-unique br {
    display: initial;
  }

  .pets-unique__btns {
    flex-direction: initial;
  }

  /* Pay */
  .pay__text {
    display: none;
  }

  .pay {
    padding: 50px 0;
  }

  .pay__main {
    margin-top: 30px
  }

  .pay-img {
    width: 100%;
    max-width: 245px;
    height: auto;
  }

  /* Testimonials */
  .testimonials {
    margin: 37px 0 40px;
  }

  .testimonials__all-inner {
    padding: 50px 14px 112px;
    max-width: 300px;
  }

  .testimonials__text {
    max-width: 272px;
  }

  /* Map */
  .map {
    padding: 50px 0 60px;
  }

  .map__main {
    max-height: 146px;
    margin-top: 31px;
    margin-bottom: 30px;
  }

  .each-animal__inner,
  .main__placeholder,
  .main__placeholder-red {
    width: 32.85px;
  }

  .main__placeholder-inner {
    width: 22px;
    height: 22px;
    top: 5.85px;
  }

  .eagles {
    top: 2.1%;
    left: 7.2%;
  }

  .alligator {
    top: -27.1%;
    left: 17.5%;
  }

  .dusan {
    top: -44%;
    left: 45%;
  }

  .panda {
    top: -100%;
    left: 72.1%;
  }

  .each-animal__promt {
    width: 77%;
    padding: 17px 44px 17px 15px;
  }

  #eagles-promt {
    left: -7%;
  }

  #alligator-promt {
    top: 85%;
    left: -16%;
  }

  #gorilla-promt {
    left: -43%;
    top: 30%;
  }

  #panda-promt {
    top: 90%;
    left: -70%;
  }

  .prompt__text-title {
    font-size: 14px;
    line-height: 16px;
  }

  .prompt__text-inner,
  .prompt__text-main {
    font-size: 11px;
    line-height: 13px;
  }
}