body {
    margin: 0;
    font-family: Open Sans, sans-serif;
    color: #f7f7f7;
}

section {
    width: 100%;
}

/* Header */
.header {
    position: absolute;
    width: 100%;
}

.inHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

/* Logo */
.logo {
    display: flex;
}

.title {
    margin-left: 15px;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
}

/* Nav */
.nav {
    display: flex;
    font-size: 23px;
}

.navList {
    display: flex;
    margin-left: 30px;
    align-items: center;
    list-style-type: none;
}

.navLink {
    display: block;
    margin: 0 10px;
    padding: 10px 22px;
    text-decoration: none;
    text-align: center;
    line-height: 27px;
    color: #f7f7f7;
    border-radius: 5px;
    transition: background-color 0.1s linear;
}

#SignIn {
    font-family: Roboto, sans-serif;
    border: 2px solid #CD6326;
    margin: 0 0 0 30px;
}

.navLink:hover {
    background: #CD6326;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.navLink:active {
    background: #8F5613;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#SignIn:active {
    border-color: #8F5613;
}




/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.sectionIntro {
    background: #02160b;
}

.intro {
    margin: 0 auto;
    max-width: 1440px;
    height: 780px;
    background: url("/wildlife/assets/Intro.jpg") center
    no-repeat;
    background-size: cover;
}

/* Survival */
.survival {
    position: absolute;
    display: flex;
    top: 200px;
    flex-direction: column;
}

.survivalTitle {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
}

.survivalText {
    display: block;
    width: 274px;
    margin: 50px 0;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;
}

.donate {
    width: 160px;
    margin: 0;
    box-sizing: border-box;
    background: #CD6326;
    border-radius: 5px;
    padding: 16px 42px;
    font-family: Roboto, sans-serif;
    font-size: 23px;
    line-height: 27px;
    color: #f7f7f7;
    text-decoration: none;
    text-align: center;
}

.donate:hover {
    background: #E39128;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.donate:active {
    background: #8F5613;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main section */
.sectionMain {
    background: #CCCCCC;
    border-radius: 0px;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Articles */
.articles {
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
 }

.latestArticles {
    display: block;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
}

.news {
    display: block;
    font-size: 24px;
    line-height: 36px;
    color: #666666;
}

/* Animals */
.animals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textForPictures {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 247px;
    right: 50%;
    transform: translateX(50%);
}

h4 {
    font-size: 22px;
    line-height: 36px;
}

.small {
    display: block;
    margin-top: 10px;
    width: 190px;
    font-size: 17px;
    line-height: 27px;
}

.animal {
    position: relative;
}

/* Vectors */
.buttom:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Email */
.email {
    display: flex;
    margin: 239px auto;
    justify-content: center;
    flex-direction: column;
}

.notified {
    display: block;
    margin-bottom: 55px;
    text-align: center;
    font-size: 27px;
    line-height: 40px;
    color: #333333;
}

.field {
    font-size: 0;
    display: inline-block;
    margin: 0 auto;
}

.emailText {
    margin: 0;
    width: 510px;
    height: 60px;
    padding: 0 15px;
    font-family: Roboto, sans-serif;
    font-size: 23px;
    line-height: 27px;
    border: 1px solid #666666;
    border-right: #CD6326;
    background: #CCCCCC;
}

.sendButton {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 17px 34px 16px;
    font-size: 23px;
    line-height: 27px;
    color: #f7f7f7;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 0px 5px 5px 0px; 
}

.emailText:focus {
    outline: none;
}

.sendButton:hover {
    background: #E39128;
    border: 1px solid #E39128;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sendButton:focus {
    outline: none;
}

.sendButton:active {
    background: #8F5613;
    border: 1px solid #8F5613;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Footer */
.footer {
    background: #02160b;
}

.mainFooter {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    height: 360px;
    background: url("/wildlife/assets/Footer.jpg") center
    no-repeat;
    background-size: cover;
}

.inFooter {
    position: absolute;
    bottom: 50%;
    width: 100%;
    max-width: 1200px;
    transform: translateY(50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navFooterList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    width: 480px;
    padding: 0;
    list-style-type: none
}

.footerLink {
    display: block;
    line-height: 60px;
    color: #F7F7F7;
    text-decoration: none;
    transition: color 0.1s linear;
}

.footerLink:hover {
    color: #CD6326;
    cursor: pointer;
}

.footerLink:active {
    color: #8F5613;
}

.navLogo {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style-type: none
}

.miniLogo {
    transition: transform 0.1s linear;
}

.miniLogo:hover {
    cursor: pointer;
    transform: scale(1.2);
}